<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pacee1.search.mapper.SearchMapper" >

    <select id="searchItems" resultType="com.pacee1.search.pojo.vo.SearchItemsVO">
        SELECT
            i.id AS itemId,
            i.item_name AS itemName,
            i.sell_counts AS sellCounts,
            ii.url AS imgUrl,
            temp.price_discount AS price
        FROM
            items i
        LEFT JOIN items_img ii ON i.id = ii.item_id
        LEFT JOIN (
            SELECT
                item_id,
                MIN(price_discount) AS price_discount
            FROM
                items_spec
            GROUP BY
                item_id
        ) temp ON i.id = temp.item_id
        WHERE
            ii.is_main = 1
        <if test="keyword != null">
            AND i.item_name LIKE '%${keyword}%'
        </if>
        ORDER BY
        <choose>
            <when test="sort == &quot;c&quot;">
                i.sell_counts desc
            </when>
            <when test="sort == &quot;p&quot;">
                temp.price_discount asc
            </when>
            <otherwise>
                i.item_name asc
            </otherwise>
        </choose>

    </select>
    <!-- c代表销量排序，p代表价格排序，默认使用名称排序   -->

    <select id="searchItemsByCat" resultType="com.pacee1.search.pojo.vo.SearchItemsVO">
        SELECT
        i.id AS itemId,
        i.item_name AS itemName,
        i.sell_counts AS sellCounts,
        ii.url AS imgUrl,
        temp.price_discount AS price
        FROM
        items i
        LEFT JOIN items_img ii ON i.id = ii.item_id
        LEFT JOIN (
        SELECT
        item_id,
        MIN(price_discount) AS price_discount
        FROM
        items_spec
        GROUP BY
        item_id
        ) temp ON i.id = temp.item_id
        WHERE
        ii.is_main = 1
        <if test="catId != null">
            AND i.cat_id = #{catId}
        </if>
        ORDER BY
        <choose>
            <when test="sort == &quot;c&quot;">
                i.sell_counts desc
            </when>
            <when test="sort == &quot;p&quot;">
                temp.price_discount asc
            </when>
            <otherwise>
                i.item_name asc
            </otherwise>
        </choose>

    </select>
</mapper>